/* animations */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* content */
.blog_container{
  min-height: 10rem;
  font-size: larger;
  list-style-type: none;
  padding-bottom: 35rem;
}

.title_header{
  width: 100%;
  padding: 1%;
  height: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: x-large;
}

.bodytext-left{
  float: left;
  text-align: justify;
  width: 50%;
  /* min-height: 20rem; */
}
  
.bodytext-right{
  float: right;
  text-align: justify;
  width: 50%;
  /* min-height: 20rem; */
}

.imgcontainer-picture{
  width: 50%;
  float: right;
}
  
.mainpageimg-right{
  padding-top: 10%;
  width: 80%;
  max-height: 180px;
}
  
.mainpageimg-left{
  padding-top: 10%;
  width: 80%;
}

ul {
  margin: 0;
  padding: 0;
}

  


 
/* 1080P */
@media (max-width:1080px){
  .blog_container{
    font-size: large;
    padding-bottom: 25rem;
  }
  
  .bodytext-left{
    /* min-height: 20rem; */
  }
    
  .bodytext-right{
    /* min-height: 20rem; */
  }
  
  .imgcontainer-picture{
    /* min-height: 20rem; */
  }
}






/* 720p */
@media (max-width:720px){
  .blog_container{
    font-size: medium;
    padding-bottom: 18rem;
  }
  
  .bodytext-left{
    /* min-height: 15rem; */
  }
    
  .bodytext-right{
    /* min-height: 15rem; */
  }
  
  .imgcontainer-picture{
    /* min-height: 15rem; */
  }
}






/* 500p   */
@media (max-width:500px){
  .blog_container{
    font-size: xx-small;
    padding-bottom: 10rem;
  }
  
  .bodytext-left{
    /* min-height: 10rem; */
  }
    
  .bodytext-right{
    /* min-height: 10rem; */
  }
  
  .imgcontainer-picture{
    /* min-height: 10rem; */
  }

}
